# Server
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Database engine: mysql or mongodb
#Using this variable we can switch database either mysql or mongodb
DB_ENGINE=mysql

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=educhoice
DB_USER=root
DB_PASSWORD=R@knit19
DB_LOGGING=false
DB_SYNC_ALTER=true

# MongoDB
MONGODB_URI=mongodb+srv://db_user:sevak123@cluster0.oaevlvb.mongodb.net/appoinment_management_system
MONGODB_APPOINTMENTS_COLLECTION=appoinments

# JWT
JWT_SECRET=your_super_secret_jwt_key_min_32_chars_long
JWT_EXPIRES_IN=24h

# File uploads
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=5242880

# Visitor alert (minutes before MISSING alert)
VISITOR_ALERT_MINUTES=10

# School info
SCHOOL_NAME=Delhi Public School
